/* Colors */
$color-black: #020200;
$color-black-light: rgb(138, 132, 132);
$color-blue: rgb(210, 238, 235);
$color-white:#fff;


/* Fonts */
$font-family: Ubuntu;
$font-family-serif: Georgia;
$font-size-base: 16px;
